<launch>
    <!-- Namespace argument -->
    <arg name="ns" default="limo0" />

    <!-- ttyTHS1 for NVIDIA nano serial port -->
    <!-- ttyUSB0 for USB serial port -->
    <arg name="port_name" default="ttyTHS1" />

    <!-- Frames (now prefixed by namespace if provided) -->
    <arg name="odom_frame" default="$(arg ns)/odom" />
    <arg name="base_frame" default="$(arg ns)/base_link" />
    
    <!-- to use mechanum wheels set to true-->
    <arg name="use_mcnamu" default="false" />
    <arg name="pub_odom_tf" default="true" />
    
    <param name="pub_joint_state" value="false"/>

    <!-- Group nodes under namespace -->
    <group ns="$(arg ns)">
        <node name="limo_base_node" pkg="limo_base" type="limo_base_node" output="screen">
            <param name="port_name" value="$(arg port_name)" />
            <param name="odom_frame" value="$(arg odom_frame)" />
            <param name="base_frame" value="$(arg base_frame)" />
            <param name="use_mcnamu" value="$(arg use_mcnamu)" />
            <param name="pub_odom_tf" value="$(arg pub_odom_tf)" />
           <!-- Force topics into namespace cause are hardcoded in src-->
            <remap from="/cmd_vel" to="cmd_vel"/>
            <remap from="/odom" to="odom"/>
            <remap from="/scan" to="scan"/>
             <remap from="/imu" to="imu"/>
        </node>
    </group>
</launch>
