<?xml version="1.0"?>
<launch> 
    <!-- Namespace argument -->
    <arg name="ns" default="limo0" />
    <arg name="laser" default="true" />

    <!-- ttyTHS1 for NVIDIA nano serial port-->
    <!-- ttyUSB0 for IPC USB serial port -->
    <arg name="port_name" default="ttyTHS1" />
    <arg name="use_mcnamu" default="false" />

    <include file="$(find limo_base)/launch/limo_base.launch">
        <arg name="port_name" value="$(arg port_name)" />
        <arg name="use_mcnamu" value="$(arg use_mcnamu)" />
        <arg name="ns" value="$(arg ns)" />
    </include>
   
    <group if="$(arg laser)">
     	<group ns="$(arg ns)">
     	      <include file="$(find ydlidar_ros_driver)/launch/X2.launch">
		    <arg name="frame_id" value="$(arg ns)/laser_link"/>
	     </include>
  	    <!--static_transform_publisher requires x y z yaw ppitch roll-->
	    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link"  args="0.105 0.0 -0.04 3.14 0.0 0  $(arg ns)/base_link $(arg ns)/laser_link 10" />
	    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.0 0.0 0.0 0.0 0.0 0.0  $(arg ns)/base_link  $(arg ns)/imu_link 10" />
	 </group>
    </group>
</launch>
